<div style= "">
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="text-center" >
  <h1>Joan Currie</h1>
  <h2>Software developer based in Waterloo, Ontario, Canada.</h2>
  <br /><br />
  <%= link_to image_tag("in.png"), "https://www.linkedin.com/in/joan-currie/" %>
  <%= link_to image_tag("github.png"), "https://github.com/JECurrie" %>
  <%= link_to image_tag("stack.png"), "https://stackoverflow.com/users/7003582/joan-currie?tab=profile" %><br /><br />
  <%= link_to image_tag("fb.png"), "https://www.facebook.com/je.currie.33" %>
  <%= link_to image_tag("twitter.png"), "https://twitter.com/joanecurrie" %>
  <%= link_to image_tag("bit.png"), "https://bitbucket.org/joancurrie/" %>
</div>
</div>