<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %> 
 <br />
<br />
<br />
<br />

<div class="row">
  <div class="column">
    <img src="/assets/image1.png"  alt="" style="width:30%; padding: 8px">
    <img src="/assets/image2.png" alt="" style="width:30%; padding: 8px">
    <img src="/assets/image3.png" alt="" style="width:30%; padding: 8px">
  </div>
</div>   
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
